<div class="content-select">
    <div class="title-select">
        <h1 class="title-text-select">Подпишись <br>на рассылку</h1>
        <p class="text-select">Получай информацию <br> о новых машинах</p>
    </div>
    <div class="content-select-btn">
        <button class="select-btn">Тип <i class="arrow down"></i></button>
        <button class="select-btn">Марка <i class="arrow down"></i></button>
        <button class="select-btn">Модель <i class="arrow down"></i></button>
        <button class="select-btn">Год <i class="arrow down"></i></button>
        <button class="select-btn-rever">Подписаться</button>
    </div>
</div>