<p class="title-menu">Мой кабинет</p>
<div class="menu-content">
    <div class="btn-container">
        <button class="btn-menu">Настройки</button>
        <button class="btn-menu">Связь с администрацией</button>
        <button class="btn-menu">Мои лоты</button>
        <button class="btn-menu">Лоты на модерации</button>
        <button class="btn-menu">Избранные лоты</button>
        <button class="btn-menu">Мои завершенные лоты</button>
        <button class="btn-menu">Мои объявления</button>
        <button class="btn-menu">Архив лотов</button>
        <button class="btn-menu">Мой тариф</button>
        <button class="btn-menu">История оплат</button>
    </div>
</div>