.menu-content{
    display: flex;
    flex-direction: column;

}
.btn-menu{
    border: none;
    background: none;
    padding: 15px 124px 15px 35px;
    font-family: Bliss Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    text-align:left;
}
.title-menu{
    font-family: Bliss Pro;
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    font-style: normal;
    color: #000000;
}
.btn-menu:hover{
    border: none;
    background: #FF3B33;
    box-shadow: 0px 4px 4px rgba(176, 184, 210, 0.5);
    padding: 15px 124px 15px 35px;
    font-family: Bliss Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-align:left;
}
.btn-container{
    display: flex;
    flex-direction: column;
    background: #FAFAFA;
    border-radius: 10px 0px 0px 10px;
    height: 47rem;
}