<div class="container-setting">
    <div>
        <p class="title-setting">Информация</p>
        <div class="border-title"></div>
    </div>
    <input type="text" class="input-setting" placeholder="Контактное лицо:" >
    <form class="input-setting-number-from">
        <input type="text" class="input-setting-number" name="" placeholder="Телефон:" >
        <button class="input-setting-number-btn">Изменить</button>
    </form>
    <input type="text" class="input-setting" placeholder="E-mail:" >
    <form class="input-setting-number-from">
        <input type="text" class="input-setting-pasvord"  placeholder="Пароль:" >
        <button class="input-setting-number-btn">Изменить</button>
    </form>
    <input type="text" class="input-setting" name="" placeholder="Название компании:" >
    <input type="text" class="input-setting" name="" placeholder="ИНН:" >
    <input type="text" class="input-setting" name="" placeholder="Банк:" >
    <input type="text" class="input-setting" name="" placeholder="Расчетный счет:" >
    <input type="text" class="input-setting" name="" placeholder="Кор. счет:" >
    <input type="text" class="input-setting" name="" placeholder="БИК:" >
    <form class="input-setting-check-from">
        <input type="text" class="input-setting-check" name="" placeholder="Уведомления:" >
        <div class="from-check-content">
            <div class="form-check">
                <button class="btn-seting-checkbox"> </button>
                <label class="form-check-label" for="exampleCheck1">E-mail</label>
            </div>
            <div class="form-check">
                <button class="btn-seting-checkbox"> </button>
                <label class="form-check-label" for="exampleCheck1">SMS</label>
            </div>
            <div class="form-check">
                <button class="btn-seting-checkbox"> </button>
                <label class="form-check-label" for="exampleCheck1">Сообщения в личном кабинете</label>
            </div>
        </div>
    </form>
</div>